@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <table class="table table-bordered table-hover" id="tblEmployees">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Gender</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Mobile</th>
                            <th>Address1</th>
                            <th>Address2</th>
                            <th>Pincode</th>
                            <th>IsActive</th>
                            <th>EmpCode</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </section>
</div>
<script src="~/js/GetEmployees.js"></script>
